.cpageTitle{
  font-size:16px;
  span{
    padding-left:10px;
    color:#08F;
   }
}
.fl{
  display: inline-block;
  float:left;
}
.fr{
  display: inline-block;
  float:right;
}
.cl{
  display: block;
  clear: both;
}
